body {
    background-color: #E4F9F5;

}

.imageContainer{
    padding: 9.375% 0;
    text-align: center;

}

.title{
    color:#efaa5f;
    text-align:center;
    font-weight: bold;
    font-size: 4rem;
}


.countryList{
    color: #f37777;
    white-space: pre-line;
    text-align:center;
    font-size: 3rem

}

hr{
    width: 20%;
    border: 1px solid red;
    border-bottom: 0;

}

.stickyButton img{
    width: 5%;
    position: fixed;
    bottom: 4%;
    right: 2%;

}